{%load static%}
<!DOCTYPE html>
<html lang="en" class="signup-html">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up To Our Platflorm</title>
    <link
      rel="shortcut icon"
      href={% static "images/favicon.png"%}
      type="image/x-icon"
    >
    <link rel="stylesheet" href={% static "styles/main.css" %}>
  </head>
  <body class="signup-body">
    <nav class="nav nav--dark">
      <div>
        <a href="{% url "index"%} "class="logo logo--dark">Block Drones</a>
      </div>
    </nav>

    <main class="signup">
      <div class="signup__wrapper">
        <div class="signup__container">
          <div class="signup__controls">
            <div></div>

            <h1 class="title">Sign Up To Our Platform</h1>

            <a href="{% url "index"%} ">
              <img
                src={% static "images/icons/close.webp"%}
                alt="close"
                class="signup__icon"
              >
            </a>
          </div>

          <form action="" class="form signup__form" id="form" method="POST">
            {% csrf_token %}
            <div class="form__row">

              {{form.first_name}}
              {{form.error}}

              {{form.last_name}}
              {{form.error}}

            </div>

            <div class="form__row">

              {{form.email}}
              {{form.error}}

              {{form.tel_number}}
              {{form.error}}
            </div>

            <div class="form__row">

              {{form.user_type}}
              {{form.error}}    
            </div>

            <div class="form__row">
              {{form.password1}}
              {{form.error}} 
            </div>
            <div class="form__row">
              {{form.password2}}
              {{form.error}}   
            </div>

            <div class="form__row form__row--submit">
              <input
                type="submit"
                value="Sign Up"
                class="form__submit"
                id="signup"
              >
            </div>
         
          </form>
          <p class="login__text">Already have an account? <a href="{% url "login"%}">Login here</a></p>
        </div>
      </div>
    </main>
  </body>

  <script src="{% static "scripts/signup.js"%}" type="module"></script>
</html>