{%load static%}
<li class="pilots-list__item">
    <div class="pilot">
      <div class="pilot__top">
        
        <img
        {%if pilot.profile.profile_image%}
         src="{{pilot.profile.profile_image.url}}"
         alt="{{pilot.first_name}} icon"

        {%else%}
          src={% static "images/no-icon.webp"%}
          alt="no icon"
        {%endif%}
          
          class="pilot__icon"
        >
        {% comment %} get from model {% endcomment %}
        <p class="pilot__name">{{pilot.first_name}} {{pilot.last_name}}</p>
        {% comment %} get from model {% endcomment %}
        <p class="pilot__booked">(38 times booked)</p>
      </div>

      <div class="pilot__middle">
        {% comment %} get from model {% endcomment %}
        <p class="pilot__middle-item"><strong>{{pilot.profile.city}}, {{pilot.profile.country}}</strong></p>
        {% comment %} get from model {% endcomment %}
        <p class="pilot__middle-item"><strong>R{{pilot.profile.hourly_rate}}/hour</strong> rate</p>
      </div>
      {% comment %} get from model {% endcomment %}
      <div class="pilot__bottom">
        <p> {{pilot.profile.profile|linebreaksbr}}</p>
      </div>

      <div class="pilot__container">
        <a
          href="{{pilot.profile.get_absolute_url}}"
          class="button pilot__button button--work"
          
        >
          View Work 
        </a>
      </div>
    </div>
  </li>