.pilot-images {
  padding: 16px;

  border-radius: 8px;
  background-color: #fff;

  height: 100vh;

  overflow-y: scroll;
  scrollbar-color: $sky-color $slate-grey-low-opacity;
  scrollbar-width: thin;

  @include tablet {
    height: 50vh;
  }

  @include tablet {
    padding: 8px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    @include mobile {
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }
  }

  &__image {
    width: 100%;
    height: 300px;

    object-fit: cover;
    object-position: center;
  }
}
