{%load static%}
<footer class="footer">
    <div class="footer__wrapper">
      <div class="footer__item">
        <a href={%url "index"%} class="logo footer__logo" >Block Drones</a>

        <p class="footer__copyright">©2023 Block Drones, All rights reserved. </p>
      </div>

      <div class="footer__item">
        <h3 class="footer__item-title">Socials</h3>

        <div class="footer__socials">
          <a href={%url "index"%}>
            <img
              src={% static "images/footer/linkedin-white.webp"%}
              alt="linkedin icon"
              class="footer__socials-icon"
            >
          </a>

          <a href={%url "index"%}>
            <img
              src={% static "images/footer/instagram-white.webp"%}
              alt="instagram icon"
              class="footer__socials-icon"
            >
          </a>

          <a href={%url "index"%}>
            <img
              src={% static "images/footer/pinterest-white.webp"%}
              alt="pinterest icons"
              class="footer__socials-icon"
            >
          </a>

          <a href={%url "index"%}>
            <img
              src={% static "images/footer/facebook-white.webp"%}
              alt="facebook icon"
              class="footer__socials-icon"
            >
          </a>
        </div>
      </div>

      <div class="footer__item">
        <h3 class="footer__item-title">Our Services</h3>

        <ul class="footer__list">
          <li>Aerial Photography and Videography</li>
          <li>Filmmaking and Cinematography</li>
          <li>Event Coverage</li>
          <li>Real Estate Marketing</li>
          <li>Custom Services</li>
        </ul>
      </div>

      <div class="footer__item">
        <h3 class="footer__item-title">About Us</h3>

        <p>
          We're your trusted source for connecting with skilled drone pilots. Our mission is to make aerial services accessible, convenient, and reliable. Explore our network of expert aviators and elevate your projects with confidence.
        </p>
      </div>
    </div>
  </footer>