$sky-color: #3498dbc4;
$sky-color-low-opacity: #3498db5e;
$sky-color-high-opacity: #3498db;
$graphite-grey: #333;
$graphite-grey-low-opacity: #333333e5;
$tech-green: #32cd32;
$steel-grey: #555;
$slate-grey: #708090;
$slate-grey-low-opacity: #70809094;
$slate-grey-light: #70809018;
$orange-accent: #ffa500;
$orange-accent-low-opacity: #ffa6005d;
