{% load static %}

<section class="how-it-works" id="how-it-works">
    <div class="how-it-works__wrapper">
      <h2 class="title how-it-works__title">How We Work</h2>

      <div class="how-it-works__container">
        <div class="how-it-works__item">
          <img
            src={% static "images/how-we-work/browse.webp"%}
            alt="browse pilots icon"
            class="how-it-works__item-image"
          >

          <h3 class="how-it-works__item-title">Browse Pilots</h3>

          <p>
            Start by exploring our wide selection of drones for hire. Filter your options based on your specific needs, such as drone type, features, and location.
          </p>
        </div>

        <div class="how-it-works__item">
          <img
            src={% static "images/how-we-work/select.webp"%}
            alt="select pilots icon"
            class="how-it-works__item-image"
          >

          <h3 class="how-it-works__item-title">Select Your Pilot</h3>

          <p>
            Once you've found the perfect drone for your project, click on it to view detailed information, including specifications, rental rates, and availability.
          </p>
        </div>

        <div class="how-it-works__item">
          <img
            src={% static "images/how-we-work/pay.webp"%}
            alt="review and pay icon"
            class="how-it-works__item-image"
          >

          <h3 class="how-it-works__item-title">Review and Pay</h3>

          <p>
            Review all the details, and complete the payment process through our secure platform. We accept various payment methods for your convenience.
          </p>
        </div>
      </div>
    </div>
  </section>