{%load static%}
<section class="media">
    <div class="media__wrapper">
      <h2 class="title media__title">In The Media</h2>

      <p>See what the media thinks about us.</p>

      <div class="media__container">
        <div class="media__item">
          <a href="{% url "index"%}">
            <img
              src="{% static "images/media/business-tech.webp"%}"
              alt="business tech logo"
              class="media__image"
            >
          </a>
        </div>

        <div class="media__item">
          <a href="{% url "index"%}">
            <img
              src="{% static "images/media/tech-central.webp"%}"
              alt=" tech central logo"
              class="media__image"
            >
          </a>
        </div>

        <div class="media__item">
          <a href="{% url "index"%}">
            <img
              src="{% static "images/media/itweb.webp"%}"
              alt="itweb logo"
              class="media__image"
            >
          </a>
        </div>

        <div class="media__item">
          <a href="{% url "index"%}">
            <img
              src="{% static "images/media/iol.webp"%}"
              alt="iol logo"
              class="media__image"
            >
          </a>
        </div>
      </div>
    </div>
  </section>