{% load static%}
<div class="pilots-work__item">
    <img
      src={% static "images/work/work1.webp"%}
      alt="Shot by pilot 1"
      class="pilots-work__item-background"
    >

    <div class="pilots-work__item-content">
      <p>Shot by: <span class="name">Pilot 1</span></p>
    </div>
  </div>

  <div class="pilots-work__item">
    <img
      src={% static "images/work/work2.webp"%}
      alt="Shot by pilot 2"
      class="pilots-work__item-background"
    >

    <div class="pilots-work__item-content">
      <p>Shot by: <span class="name">Pilot 2</span></p>
    </div>
  </div>

  <div class="pilots-work__item">
    <img
      src={% static "images/work/work3.webp"%}
      alt="Shot by pilot 3"
      class="pilots-work__item-background"
    >

    <div class="pilots-work__item-content">
      <p>Shot by: <span class="name">Pilot 3</span></p>
    </div>
  </div>

  <div class="pilots-work__item">
    <img
      src={% static "images/work/work4.webp"%}
      alt="Shot by pilot 4"
      class="pilots-work__item-background"
    >

    <div class="pilots-work__item-content">
      <p>Shot by: <span class="name">Pilot 4</span></p>
    </div>
  </div>

  <div class="pilots-work__item">
    <img
      src={% static "images/work/work5.webp"%}
      alt="Shot by pilot 5"
      class="pilots-work__item-background"
    >

    <div class="pilots-work__item-content">
      <p>Shot by: <span class="name">Pilot 5</span></p>
    </div>
  </div>

  <div class="pilots-work__item">
    <img
      src={% static "images/work/work6.webp"%}
      alt="Shot by pilot 6"
      class="pilots-work__item-background"
    >

    <div class="pilots-work__item-content">
      <p>Shot by: <span class="name">Pilot 6</span></p>
    </div>
  </div>