{%load static%}
<li class="pilots-list__item">
    <div class="pilot">
      <div class="pilot__top">
        <img
          src={% static "images/no-icon.webp"%}
          alt="no icon"
          class="pilot__icon"
        >
        {% comment %} get from model {% endcomment %}
        <p class="pilot__name">Pilot 1</p>
        {% comment %} get from model {% endcomment %}
        <p class="pilot__booked">(38 times booked)</p>
      </div>

      <div class="pilot__middle">
        {% comment %} get from model {% endcomment %}
        <p class="pilot__middle-item"><strong>Durban, KZN</strong></p>
        {% comment %} get from model {% endcomment %}
        <p class="pilot__middle-item"><strong>R1000/hour</strong> avg. rate</p>
      </div>
      {% comment %} get from model {% endcomment %}
      <div class="pilot__bottom">
        Experienced drone pilot with a keen eye for stunning visuals. Specializing in real estate and event coverage. Contact for professional aerial photography and videography.
      </div>

      <div class="pilot__container">
        <a
          href="./pilots/pilot-1.html"
          class="button pilot__button button--work"
          target="_blank"
        >
          View Work
        </a>
      </div>
    </div>
  </li>