{% load static%}
<section class="browse">
    <div class="browse__wrapper">
      <h2 class="title">Some Of Our Top Pilots</h2>

      <p class="browse__subtext">
        View Some Of Our Top Pilots.
      </p>

      <div class="browse__container">
        <div class="browse__item">
          <img
            src={% static "images/pilot-1/icon.webp"%}
            alt="pilot 1 icon"
            class="browse__image"
          >

          <div class="browse__text">
            <a
              href="./pages/pilots/pilot-1.html"
              class="browse__name"
            >
              Pilot 1
            </a>

            <div class="browse__text-row browse__text-row--border">
              <p>Experienced drone pilot with a keen eye for stunning visuals. Specializing in real estate and event coverage. Contact for professional aerial photography and videography. </p>
            </div>

            <div class="browse__text-row">
              <img
                src={% static "images/icons/pin.webp"%}
                alt="pin icon"
                class="browse__icon"
              >
              <p>Durban, KZN</p>
            </div>

            <div class="browse__text-row">
              <img
                src={% static "images/icons/rand.webp"%}
                alt="pin icon"
                class="browse__icon"
              >
              <p><span class="bold">Avg. Rate:</span> R1000/hr</p>
            </div>

            <div class="browse__text-row">
              <img
                src={% static "images/icons/rating.webp"%}
                alt="pin icon"
                class="browse__icon"
              >
              <p><span class="bold">Rating:</span> 5 <span class="italic">(38)</span></p>
            </div>

            <a
              href="{% url "job-request"%}"
              class="button browse__item-button"
            >
              Request A Quote
            </a>
          </div>
        </div>

        <div class="browse__item">
          <img
            src={%static "images/pilot-2/icon.webp"%}
            alt="pilot 2 icon"
            class="browse__image"
          >

          <div class="browse__text">
            <a
              href="./pages/pilots/pilot-2.html"
              class="browse__name"
            >
              Pilot 2
            </a>

            <div class="browse__text-row browse__text-row--border">
              <p>Certified drone pilot with a passion for capturing the beauty of landscapes. Aerial photographer and videographer for outdoor adventures.</p>
            </div>

            <div class="browse__text-row">
              <img
                src={% static "images/icons/pin.webp"%}
                alt="pin icon"
                class="browse__icon"
              >
              <p>Sandton, JHB</p>
            </div>

            <div class="browse__text-row">
              <img
                src={% static "images/icons/rand.webp"%}
                alt="pin icon"
                class="browse__icon"
              >
              <p><span class="bold">Avg. Rate:</span> R1000/hr</p>
            </div>

            <div class="browse__text-row">
              <img
                src={% static "images/icons/rating.webp"%}
                alt="pin icon"
                class="browse__icon"
              >
              <p><span class="bold">Rating:</span> 5 <span class="italic">(53)</span></p>
            </div>

            <a
              href="./pages/job-request.html"
              class="button browse__item-button"
            >
              Request A Quote
            </a>
          </div>
        </div>

        <div class="browse__item">
          <img
            src="./images/pilot-3/icon.webp"
            alt="pilot 3 icon"
            class="browse__image"
          >

          <div class="browse__text">
            <a
              href="./pages/pilots/pilot-3.html"
              class="browse__name"
            >
              Pilot 3
            </a>

            <div class="browse__text-row browse__text-row--border">
              <p>Experienced drone pilot specializing in construction site inspections. Providing precise aerial data for smarter construction management.</p>
            </div>

            <div class="browse__text-row">
              <img
                src={% static "images/icons/pin.webp"%}
                alt="pin icon"
                class="browse__icon"
              >
              <p>Sea Point, CPT</p>
            </div>

            <div class="browse__text-row">
              <img
                src={% static "images/icons/rand.webp"%}
                alt="pin icon"
                class="browse__icon"
              >
              <p><span class="bold">Avg. Rate:</span> R1000/hr</p>
            </div>

            <div class="browse__text-row">
              <img
                src={% static "images/icons/rating.webp"%}
                alt="pin icon"
                class="browse__icon"
              >
              <p><span class="bold">Rating:</span> 5 <span class="italic">(21)</span></p>
            </div>

            <a
              href="./pages/job-request.html"
              class="button browse__item-button"
            >
              Request A Quote
            </a>
          </div>
        </div>
      </div>

      <p class="browse__subtext">Meet The Rest Our Talented Drone Pilots! </p>

      <a href="./pages/browse-pilots.html" class="button browse__button">Browse Pilots</a>
    </div>
  </section>