{%load static%}

<section class="reviews">
    <div class="reviews__wrapper">
      <h2 class="title">Reviews</h2>

      <div class="reviews__container" id="container">
        <img
          id="previous"
          src="{% static "images/reviews/arrow-previous.webp"%}"
          alt="back arrow"
          class="reviews__arrow"
        >

        <div class="reviews__slider" id="slider">
          
          {%include "drone_page/includes/review-item.html"%}
          
        </div>

        <img
          id="next"
          src="{% static "images/reviews/arrow-next.webp"%}"
          alt="next arrow"
          class="reviews__arrow"
        >
      </div>
    </div>
  </section>