{% load static%}
<section class="browse">
    <div class="browse__wrapper">
      <h2 class="title">Some Of Our Top Pilots</h2>

      <p class="browse__subtext">
        View Some Of Our Top Pilots.
      </p>

      <div class="browse__container">

        {%for pilot in pilots%}
        {%include "drone_page/pilots/includes/pilot-top-item.html"%}
        {%endfor%}
        
      </div>

      <p class="browse__subtext">Meet The Rest Our Talented Drone Pilots! </p>

      <a href="{% url "browse-pilots"%}" class="button browse__button">Browse Pilots</a>
    </div>
  </section>