{% extends "base.html" %}
{%load static%}


{%block page_title%}
    Account Settings | Block Drones
{%endblock%}

{%block page_body_styling%}
    class="account-settings-body"
{%endblock%}

{%block page_header%}
    {%include "drone_page/profile/includes/profile-nav.html"%}
{%endblock%}

{%block page_content%}
    <main class="account-settings">
      {% comment %} Main User Table {% endcomment %}
      <div class="account-settings__wrapper">
        <div class="account-settings__container">
          <h2 class="account-settings__title">Profile Info : <strong>{{user_logged_in.first_name}}</strong></h2>

          <form method="POST" class="account-settings__form">
            {% csrf_token %}
            <div class="account-settings__form-field">
              <label for="first-name" class="account-settings__form-label">First Name <span class="red">*</span></label>
              {{user_update_form.first_name}}
              {% comment %} <input
                type="text"
                name="first-name"
                id="first-name"
                class="account-settings__form-input"
              > {% endcomment %}
            </div>
  
            <div class="account-settings__form-field">
              <label for="last-name" class="account-settings__form-label">Last Name <span class="red">*</span></label>
              {{user_update_form.last_name}}
              {% comment %} <input
                type="text"
                name="last-name"
                id="last-name"
                class="account-settings__form-input"
              > {% endcomment %}
            </div>
  
            <div class="account-settings__form-field">
              <label for="email" class="account-settings__form-label">Email <span class="red">*</span></label>
              {{user_update_form.email}}
              {% comment %} <input
                type="email"
                name="email"
                id="email"
                class="account-settings__form-input"
              > {% endcomment %}
            </div>
            <div class="account-settings__form-field">
              <label for="email" class="account-settings__form-label">Telephone Number <span class="red">*</span></label>
              {{user_update_form.tel_number}}
              {% comment %} <input
                type="email"
                name="tel"
                id="tel"
                class="account-settings__form-input"
              > {% endcomment %}
            </div>
  
            <div class="account-settings__bottom">
                <button type="submit" class="account-settings__button">Save</button>
            </div>
          </form>

         
        </div>
      </div>
      {% comment %} End Main User {% endcomment %}

      {% comment %} User Profile and Location {% endcomment %}
      <div class="account-settings__wrapper">
        <div class="account-settings__container">
          <h2 class="account-settings__title">Location and About Info:</h2>

          <form method ="POST" id="profileForm" data-cities-url="{% url "ajax_load_cities" %}" class="account-settings__form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="account-settings__form-field">
              <label for="email" class="account-settings__form-label">About <span class="red">*</span></label>

              {{user_profile_form.profile}}
            </div>
            <div></div>

            <div class="account-settings__form-field">
              <label for="country" class="account-settings__form-label">Country <span class="red">*</span></label>

              {{user_profile_form.country}}
            </div>

            <div class="account-settings__form-field">
              <label for="city" class="account-settings__form-label">City <span class="red">*</span></label>

              {{user_profile_form.city}}
            </div>
            {% comment %} User Image {% endcomment %}
            <div class="account-settings__form-field">
              <label for="profile-image" class="account-settings__form-label">Update your profile photo:</label>
              
              <div class="account-settings__form-avatar">
                <img
                  src="{{user_logged_in.profile.profile_image.url}}"
                  alt="user image"
                  id="account-image"
                  class="profile-image account-settings__image"
                >
                
                <div class="account-settings__form-field">
                  <label for="profile-image" class="account-settings__form-label account-settings__form-label--small">Change:</label>

                  {{user_profile_form.profile_image}}

                  {% comment %} <input
                    type="file"
                    id="avatar"
                    name="avatar"
                    accept="image/png, image/jpeg"
                    class="account-setting__avatar"
                  /> {% endcomment %}
                </div>
              </div>
            </div>
            {% comment %} End User Image {% endcomment %}
            {% comment %} <div></div> {% endcomment %}
            <div class="account-settings__bottom">
              <button  type="submit" value="submit" class="account-settings__button">Save</button>
            </div>
          </form>

          
        </div>
      </div>
      {% comment %} End User Profile and Location {% endcomment %}
    </main>
{%endblock%}