{%extends "base.html"%}
{%load static%}


{%block page_title%}
Blocked Pilots | Block Drones
{%endblock%}

{%block page_body_styling%}
 class="favourites-body"
{%endblock%}

{%block page_header%}
    {%include "drone_page/profile/includes/profile-nav.html"%}
{%endblock%}

{%block page_content%}
<main class="blocked">
    <div class="blocked__wrapper">
      <div class="blocked__container">
        <h2 class="blocked__title">Blocked Pilots <span class="italic">(3)</span>:</h2>

        <ul class="blocked__list">
          <li class="blocked__item">
            <div class="blocked__item-container">
              <div class="blocked__item-info">
                <p class="blocked__item-number">1</p>

                <img
                  src="../../images/pilot-1/icon.webp"
                  alt="pilot icon"
                  class="profile-image blocked__item-image"
                  >

                <h3 class="blocked__item-name">Pilot 1</h3>
              </div>

              <a href="../pilots/pilot-1.html" class="blocked__item-button">View</a>
            </div>
          </li>

          <li class="blocked__item">
            <div class="blocked__item-container">
              <div class="blocked__item-info">
                <p class="blocked__item-number">2</p>

                <img
                  src="../../images/pilot-2/icon.webp"
                  alt="pilot icon"
                  class="profile-image blocked__item-image"
                  >

                <h3 class="blocked__item-name">Pilot 2</h3>
              </div>

              <a href="../pilots/pilot-2.html" class="blocked__item-button">View</a>
            </div>
          </li>

          <li class="blocked__item">
            <div class="blocked__item-container">
              <div class="blocked__item-info">
                <p class="blocked__item-number">3</p>

                <img
                  src="../../images/pilot-3/icon.webp"
                  alt="pilot icon"
                  class="profile-image blocked__item-image"
                  >

                <h3 class="blocked__item-name">Pilot 3</h3>
              </div>

              <a href="../pilots/pilot-3.html" class="blocked__item-button">View</a>
            </div>
          </li>
        </ul>

        <div class="paginate">
          <img
            src="../../images/icons/paginate-back.webp"
            alt="paginate back"
            class="paginate-icon"
            id="paginate-back"
          >
          
          <p class="paginate-number" id="paginate-number"></p>

          <img
            src="../../images/icons/paginate-next.webp"
            alt="paginate back"
            class="paginate-icon"
            id="paginate-next"
          >
        </div>
      </div>
    </div>
  </main>
{%endblock%}
{%block page_script%}
    <script type="text/javascript" src="{% static "scripts/blocked.js"%}"></script>
{%endblock%}