{%extends "base.html"%}
{%load static%}
    {%block page_title%}Block Drones {%endblock%}
   
    {%block page_styling%}
    {% comment %} <link rel="stylesheet" href="./styles/main.css"> {% endcomment %}
    {%endblock%}


    {%block page_header%}
    <header class="header header--main">
        {%include "drone_page/includes/nav.html"%}
        </div>
  
        <div class="header__content">
          <h1 class="header__title">Welcome to Block Drones</h1>
  
          <p class="header__subtitle">Taking Your Vision to New Heights!</p>
        </div>
      </header>
    {%endblock%}

    {%block page_content%}
    {% comment %} How it works section {% endcomment %}
    {%include "drone_page/includes/how-we-work.html"%}
    {% comment %} slider {% endcomment %}
    {% include "drone_page/includes/slider.html"%}
    {% comment %} Pilots work {% endcomment %}
    <section class="pilots-work">
        <div class="pilots-work__wrapper">
          <h2 class="title">Some Of Our Pilots' Work </h2>

          <div class="pilots-work__container">
            {%include "drone_page/includes/pilot-work.html"%}
          </div>
        </div>
      </section>

      {% comment %} reviews {% endcomment %}
      {%include "drone_page/includes/reviews.html"%}
      {% comment %} pilot work {% endcomment %}
      <section class="pilots-work">
        <div class="pilots-work__wrapper">
          <h2 class="title">Some Of Our Pilots' Work </h2>

          <div class="pilots-work__container">
            <div class="pilots-work__item">
              <img
                src="./images/work/work1.webp"
                alt="Shot by pilot 1"
                class="pilots-work__item-background"
              >

              <div class="pilots-work__item-content">
                <p>Shot by: <span class="name">Pilot 1</span></p>
              </div>
            </div>

            <div class="pilots-work__item">
              <img
                src="./images/work/work2.webp"
                alt="Shot by pilot 2"
                class="pilots-work__item-background"
              >

              <div class="pilots-work__item-content">
                <p>Shot by: <span class="name">Pilot 2</span></p>
              </div>
            </div>

            <div class="pilots-work__item">
              <img
                src="./images/work/work3.webp"
                alt="Shot by pilot 3"
                class="pilots-work__item-background"
              >

              <div class="pilots-work__item-content">
                <p>Shot by: <span class="name">Pilot 3</span></p>
              </div>
            </div>

            <div class="pilots-work__item">
              <img
                src="./images/work/work4.webp"
                alt="Shot by pilot 4"
                class="pilots-work__item-background"
              >

              <div class="pilots-work__item-content">
                <p>Shot by: <span class="name">Pilot 4</span></p>
              </div>
            </div>

            <div class="pilots-work__item">
              <img
                src="./images/work/work5.webp"
                alt="Shot by pilot 5"
                class="pilots-work__item-background"
              >

              <div class="pilots-work__item-content">
                <p>Shot by: <span class="name">Pilot 5</span></p>
              </div>
            </div>

            <div class="pilots-work__item">
              <img
                src="./images/work/work6.webp"
                alt="Shot by pilot 6"
                class="pilots-work__item-background"
              >

              <div class="pilots-work__item-content">
                <p>Shot by: <span class="name">Pilot 6</span></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% comment %} browse {% endcomment %}
      {% include "drone_page/includes/pilot-top-work.html"%}
      {% comment %} media {% endcomment %}
      {%include "drone_page/includes/media.html"%}
    
    {%endblock %}
