{%extends "base.html" %}
{%load static %}

{%block page_title%}Review Completed Job{%endblock%}

{% block page_body_styling %}class= "job-review-body" 
{%endblock%}

{%block page_header%}
<nav class="nav">
    <div>
      <a href="{% url "index" %}" class="logo logo--dark">Block Drones</a>
    </div>
  </nav>
{%endblock%}

{%block page_content%}
<main class="job-review">
    <div class="job-review__wrapper">
      <div class="job-review__container">
        <div class="job-review__controls">
          <div></div>

          <h1 class="title">Review Completed Job</h1>

          <a href="javascript:history.back()">
            <img
              src="{% static "images/icons/close.webp"%}"
              alt="close"
              class="job-request__icon"
            >
          </a>
        </div>

        <p class="job-review__text">
          Kindly submit a job review for completed job.
        </p>

        <form method="POST" class="form job-review__form">
          {%csrf_token%}
          <div class="form__row">
            {{form.review_job}}
            {% comment %} <input
              type="text"
              name="job-id"
              id="job-id"
              placeholder="Job ID"
              class="form__field"
            > {% endcomment %}
          </div>

          <div class="form__row">
            {% comment %} <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              class="form__field"
            > {% endcomment %}

            {% comment %} <input
              type="tel"
              name="phone"
              id="phone"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              placeholder="Telephone Number"
              class="form__field"
            > {% endcomment %}
          </div>

          <div class="form__row">
            {% comment %} {{form.review_pilot}} {% endcomment %}
            {% comment %} <select
              name="select-pilot"
              id="select-pilot"
              class="form__field"
            >
              <option value="default" disabled selected>Select Pilot Who Completed The Job</option>
              <option value="Pilot-1">Pilot 1</option>
              <option value="Pilot-2">Pilot 2</option>
              <option value="Pilot-3">Pilot 3</option>
              <option value="Pilot-4">Pilot 4</option>
              <option value="Pilot-5">Pilot 5</option>
            </select> {% endcomment %}
          </div>

          <div class="form__row">
            <label for="points" class="form__label">
              Rate Pilot (between 1 and 5):
            </label>
            {{form.review_rating}}
            {% comment %} <input
              type="range"
              name="rating"
              id="rating"
              min="1"
              max="5"
              list="markers"
              class="form__field form__field--range"
            > {% endcomment %}

            <datalist id="markers">
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
              <option value="4"></option>
              <option value="5"></option>
            </datalist>
          </div>

          <div class="form__row">
            {{form.review_comment}}
            {% comment %} <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Comments"
              class="form__field form__field--textarea"
            ></textarea> {% endcomment %}
          </div>

          <div class="form__row form__row--submit">
            <button
              {% comment %} type="submit"
              value="Submit" {% endcomment %}
              class="form__submit"
            >Submit</button>
          </div>
        </form>
      </div>
    </div>
  </main>
{%endblock%}