{%extends "base.html" %}
{%load static %}

{%block page_title%}Complete Job Request Form {%endblock%}

{% block page_body_styling %}class= "job-request-body" 
{%endblock%}

{%block page_header%}
<nav class="nav">
    <div>
      <a href="{% url "index" %}" class="logo logo--dark">Block Drones</a>
    </div>
  </nav>
{%endblock%}

{%block page_content%}
<main class="job-request">
    <div class="job-request__wrapper">
      <div class="job-request__container">
        <div class="job-request__controls">
          <div></div>

          <h1 class="title">Job Request Form</h1>

          <a href="javascript:history.back()">
            <img
              src="{% static "images/icons/close.webp" %}"
              alt="close"
              class="job-request__icon"
            >
          </a>
        </div>

        {% for key, value in form.errors.items %} {{key}} {{value}} {% endfor %}

        <p class="job-request__text">
          Kindly fill the form below and our representative will get in touch with you.
        </p>
        {% comment %} {{form.errors.request_pilot}} {% endcomment %}

        

        <form method="POST" class="form job-request__form" id="jobRequestForm" data-job-cities-url="{% url "ajax_load_job_request_cities" %}">
          {% csrf_token %}
          <div class="form__row">
            {{form.request_name}}
          </div>

          <div class="form__row">
            {{form.request_email}}

            {{form.request_tel}}
          </div>

          <div class="form__row">
            <select name="request_pilot" id="id_job_request_form" class="form__field" required>

              <option value="default" disabled selected>Select Pilot</option>
              {% for pilot in pilots %}
              <option value="{{pilot.user.id}}">{{pilot.user.get_full_name}}</option>
                {% comment %} {% if forloop.first %}
                  <option value="{{pilot.user}}" >{{pilot.user.get_full_name}}</option>
                {% else %}
                  
                {% endif %} {% endcomment %}
              {% endfor %}
              
            </select> 

            <select name="request_job_type" id="id_job_request_form" class="form__field" required>

              <option value="default" disabled selected>Select Job Type</option>
              {% for job_type in job_types %}
              <option value="{{job_type.id}}">{{job_type}}</option>
              {% endfor %}
              
            </select> 
            {% comment %} {{form.request_job_type}} {% endcomment %}
          </div>

          <div class="form__row">
            <select name="request_country" id="id_request_country" class="form__field" required>
              <option value="default" disabled selected> Select Country </option>
              {%for country in countries%}
              {% if forloop.first %}
                  <option value="{{country.id}}" >{{country}}</option>
                {% else %}
                  <option value="{{country.id}}">{{country}}</option>
                {% endif %}
              {% endfor %}
            </select>
            
            {% comment %} {{form.request_country}} {% endcomment %}

            {{form.request_city}}
          </div>

          <div class="form__row">
            {{form.request_extra_information}}
            {% comment %} <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Any extra information you need to tell us?"
              class="form__field form__field--textarea"
            ></textarea> {% endcomment %}
          </div>

          <div class="form__row form__row--submit">
            <input
              type="submit"
              value="Submit"
              class="form__submit"
            >
          </div>
        </form>
      </div>
    </div>
  </main>
  
{%endblock%}
