{%extends "base.html" %}
{%load static %}

{%block page_title%}Review Completed Job{%endblock%}

{% block page_body_styling %}class= "job-review-body" 
{%endblock%}

{%block page_header%}
<nav class="nav">
    <div>
      <a href="{% url "index" %}" class="logo logo--dark">Block Drones</a>
    </div>
  </nav>
{%endblock%}

{%block page_content%}
<main class="job-review">
    <div class="job-review__wrapper">
      <div class="job-review__container">
        <div class="job-review__controls">
          <div></div>

          <h1 class="title">Review Completed Job</h1>

          <a href="javascript:history.back()">
            <img
              src="{% static "images/icons/close.webp"%}"
              alt="close"
              class="job-request__icon"
            >
          </a>
        </div>
        {%if messages%}
        <ul class="alert alert-danger" style="list-style: none;">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
        {%endif%}
        {% for key, value in form.non_field_errors.items %} {{key}} {{value}} {% endfor %}

        {% for key, value in form.errors.items %} {{key}} {{value}} {% endfor %}
        <p class="job-review__text">
          Kindly submit a job review for completed job.
        </p>

        <form method="POST" class="form job-review__form">
          {%csrf_token%}
          <div class="form__row">
            {{form.review_job}}
          </div>

          <div class="form__row">
          </div>

          <div class="form__row">

          </div>

          <div class="form__row">
            <label for="points" class="form__label">
              Rate Pilot (between 1 and 5):
            </label>
            {{form.review_rating}}

            <datalist id="markers">
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
              <option value="4"></option>
              <option value="5"></option>
            </datalist>
          </div>

          <div class="form__row">
            {{form.review_comment}}
          </div>

          <div class="form__row form__row--submit">
            <button
              class="form__submit"
            >Submit</button>
          </div>
        </form>
      </div>
    </div>
  </main>
{%endblock%}